* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: #333;
  padding: 40px;
}

h1 {
  font-size: 3rem;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  margin-top: 40px;
}

.test-box {
  flex: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 10px;
}

.node {
  background: rgb(255, 193, 123);
}
.golang {
  background: rgb(124, 192, 255);
}

button {
  height: 44px;
  cursor: pointer;
  border-radius: 1px solid rgb(88, 130, 187);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.result-container {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.result {
  font-style: italic;
  font-weight: lighter;
}
